@model FVModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="jumbotron col-md-6 mt-2 p-3 rounded">
        <h1 class="display-4">Future Value Calculator</h1>
    </div>

    <form asp-action="Index" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row">
            <label class= "col-md-4" asp-for="MonthlyInvestment">Monthly Investment:</label>
            <input class="col-md-3" asp-for="MonthlyInvestment" />
        </div>
        <div class="row">
            <label class="col-md-4" asp-for="AnnualInterestRate">Annual Interest Rate:</label>
            <input class="col-md-3" asp-for="AnnualInterestRate" />
        </div>
        <div class="row">
            <label class="col-md-4" asp-for="Years">Years:</label>
            <input class="col-md-3" asp-for="Years" />
        </div>
        <div class="row">
                <button type="submit" class="offset-md-2 col-md-2">Calculate</button>
        </div>
        <div class="row">
            <label class="col-md-4">Future Value:</label>
            <input class="col-md-3" value="@ViewBag.FV.ToString("c")" readonly/>
        </div>
    </form>
</div>
