html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.jumbotron {
    background-image: url('../images/money (2).jpg');
    background-size: cover;
    font-weight: bold;
}

.row {
    margin-bottom: 1em;
}

